<div class="container">
  <div class="row align-items-stretch">
    <div class="col-lg-6 col-xs-12">
      <div class="card h-100">
        <div class="card-body">
          <div class="card-title"><img src="../../../assets/icons/comparison.svg"> BLOCKCHAIN COMPARISON</div>
          <table class="table table-sm table-bordered">
            <thead>
            <tr>
              <th scope="col">Network</th>
              <th scope="col">Speed</th>
              <th scope="col">Capacity</th>
              <th scope="col">Fees</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>ThaiChain</td>
              <td>5 sec</td>
              <td>1300 tps</td>
              <td>$0.000006</td>
            </tr>
            <tr>
              <td>Bitcoin</td>
              <td>10-60 min</td>
              <td>6 tps</td>
              <td>$0.07-$3.50</td>
            </tr>
            <tr>
              <td>Ethereum</td>
              <td>1-14 min</td>
              <td>13 tps</td>
              <td>$0.01-$0.50</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xs-12 mt-4 mt-lg-0">
      <div class="card h-100">
        <div class="card-body">
          <div class="card-title"><img src="../../../assets/icons/tx.svg"> TRANSACTIONS <!--(Updated every 5 minutes)-->
          </div>
          <ng-container *ngIf="stats$ | async as stats">
            <ng-container *appViewportSize="['small']">
              <div class="font-small">
                <div class="row mb-2">
                  <div class="col text-uppercase">
                    Total:
                  </div>
                  <div class="col text-right">
                    {{stats.total_transactions_count | bigNumber}}
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col text-uppercase">
                    Last 7 days:
                  </div>
                  <div class="col text-right">
                    {{stats.last_week_transactions_count | bigNumber}}
                  </div>
                </div>
                <div class="row">
                  <div class="col text-uppercase">
                    Last 24 hours:
                  </div>
                  <div class="col text-right">
                    {{stats.last_day_transactions_count | bigNumber}}
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *appViewportSize="['medium', 'large']">
              <div class="row font-small">
                <div class="col">
                  <div class="card h-100 shadow-none">
                    <div class="card-body text-center">
                      <div><img src="../../../assets/icons/circle.svg" alt="Total"></div>
                      <div class="mt-3">Total</div>
                      <div class="mt-3">{{stats.total_transactions_count | bigNumber}}</div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100 shadow-none">
                    <div class="card-body text-center">
                      <div><img src="../../../assets/icons/disc.svg" alt="Last 7 days"></div>
                      <div class="mt-3">Last 7 days</div>
                      <div class="mt-3">{{stats.last_week_transactions_count | bigNumber}}</div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100 shadow-none">
                    <div class="card-body text-center">
                      <div><img src="../../../assets/icons/target.svg" alt="Last 24 hours"></div>
                      <div class="mt-3">Last 24 hours</div>
                      <div class="mt-3">{{stats.last_day_transactions_count | bigNumber}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-4">
    <div class="card-body">
      <div class="card-title">
        <img src="../../../assets/icons/blocks.svg"> RECENT BLOCKS
      </div>
      <ng-container *ngIf="recentBlocks$ | async as recentBlocks">
        <ng-container *appViewportSize="['small']">
          <div class="data-list">
            <div class="data-list-item" *ngFor="let block of recentBlocks.blocks">
              <div class="data-list-row">
                <div class="data-list-term">
                  Block
                </div>
                <div class="data-list-desc">
                  <a routerLink="/block/{{block.number}}">{{block.number}}</a>
                </div>
              </div>
              <div class="data-list-row">
                <div class="data-list-term">
                  Signer
                </div>
                <div class="data-list-desc text-monospace">
                  <a routerLink="/addr/{{block.miner}}">{{block.miner}}</a>
                </div>
              </div>
              <div class="data-list-row">
                <div class="data-list-term">
                  Created
                </div>
                <div class="data-list-desc">
                  {{block.created_at | date: 'yyyy/MM/dd HH:mm:ss'}} ({{block.created_at | timeAgo}})
                </div>
              </div>
              <div class="data-list-row">
                <div class="data-list-term">
                  Transactions
                </div>
                <div class="data-list-desc">
                  {{block.tx_count}}
                </div>
              </div>
              <div class="data-list-row" *ngIf="block.extra_data">
                <div class="data-list-term">
                  Extra Data
                </div>
                <div class="data-list-desc">
                  {{block.extra.vanity}}
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *appViewportSize="['medium', 'large']">
          <table class="table table-striped">
            <thead>
            <tr>
              <th class="w-10">Block</th>
              <th class="w-10">TXs</th>
              <th class="w-40">Signer</th>
              <th class="w-15">Extra data</th>
              <th class="w-25">Created</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let block of recentBlocks?.blocks">
              <td class="text-monospace"><a routerLink="/block/{{block.number}}">{{block.number}}</a></td>
              <td>{{block.tx_count}}</td>
              <td class="text-monospace text-truncate"><a class="ws-p"
                                                          routerLink="/addr/{{block.miner}}">{{block.miner}}</a></td>
              <td class="text-truncate">{{block.extra.vanity}}</td>
              <td class="text-truncate">{{block.created_at | date: 'yyyy/MM/dd HH:mm:ss'}}
                ({{block.created_at | timeAgo}})
              </td>
            </tr>
            </tbody>
          </table>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
